.color {
   background-color: rgb(0, 16, 236);
   color: antiquewhite;
}
#container{
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr); 
  border: 2px solid rgb(161, 94, 5);
  width:50vh;
  height: 50vh;
  
}
#biggercontainer{
   display: flex;
   justify-content: center;
   flex-direction: row;
   
}
body {
  background-image: url("/images/img.jpeg");
}